{% extends 'base.html.twig'%}
{% block title %}Register{% endblock %}

{% block body %}

<body>
   <div class="main">

        <div class="container">

                 {{ form_start(registrationForm) }}
                   
                      
                        

                        <div class="form-submit">
                         <button type="submit" class="submit">Register</button>
                        </div>
                  
                {{ form_end(registrationForm) }}

</div>

</body>

{% endblock %}
